/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/

/* TODO: contains both page & menu, tidying needed. */

body {
  background-color: #FEC418;
  font-family: arial;
  color: #620A00;
  padding: 0px;
  margin: 0px;
  margin-top: -2px;
}

h2 {
  font-size: 200%;
  margin: 0px;
  margin-bottom: 15px;
}

h3 {
  color: #620A00;
}

li {
  margin-bottom: 2em;
}

#menubody {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 45em;
  overflow: hidden;
  position: relative;
}

#menu_left_content, #menu_right_content {
  width: 30%;
}
#menu_center_content {
  width: 35%;
  margin-left: 1em;
}
#menu_left_content, #menu_center_content, #menu_right_content {
  float: left;
  padding: 0;
}

#menu_center_content {
  position: relative;
  float: left;
}

#menu_right_content { float: right; }
#menu_left_content   { text-align: right; }
#menu_center_content { text-align: center; }
#menu_right_content  { text-align: left; }

#menu_left_content    { margin-top: 4em; }
#menu_right_content   { margin-top: 4em; }

#footer, #header {
  clear: both;
  width: 100%;
  text-align: center;
}



hr {
  height: 1px;
  border-top: 1px solid #a50;
  border-bottom: none;
}

a               { color: #620A00; text-decoration: underline; }
a:visited       { color: #620A00; text-decoration: underline; }
a:active        { color: #620A00; text-decoration: underline; }
a:hover         { color: #BA3E02; text-decoration: underline; }


a#menu                                  { color: #620A00; text-decoration: none; }
a#menu:visited  { color: #620A00; text-decoration: none; }
a#menu:active           { color: #620A00; text-decoration: none; }
a#menu:hover            { color: #BA3E02; text-decoration: none; }

ul.no_indent {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

a.back              { color: #FEC418; text-decoration: none; }
a.back:visited      { color: #FEC418; text-decoration: none; }
a.back:active       { color: #FEC418; text-decoration: none; }
a.back:hover        { color: #BA3E02; text-decoration: none; }


.menuitem a {
  font-size: 1.17em;
  font-weight: bold;
}
.menuitem p {
  margin-top: 1em;
}
#menu_left_content .menuitem {
  padding-right: 1.5em;
}
#menu_right_content .menuitem {
  padding-left: 1.5em;
}
#menu_left_content .menuitem:hover {
  border-right: 1em solid #dEa408;
  padding-right: 0.5em;
}
#menu_right_content .menuitem:hover {
  border-left: 1em solid #dEa408;
  padding-left: 0.5em;
}

.alternative_logo {
  display: none;
}


#menu_center_content img {
  position: absolute;
  left: 0;
  top: 0;
}

#page {
  width: 45em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  display: table;
}

.spacer {
  clear: both;
}

#page_row { display: table-row; }

#page_navigation {
  width: 192px;
  display: table-cell;
  vertical-align: top;
  background-repeat: no-repeat;
  text-align: right;
}
#page_navigation span {
  float: right;
  margin-top: 0.6em;
  margin-right: 0.5em;
  font-size: 1.1em;
  font-weight: bold;
}

#page_content {
  text-align: left;
  float: right;
  width: 31em;
  display: table-cell;
}
