<table id="menu"> 
<tr id="menu"> 
<td id="menuvasen"> 
  <h3><a href="/newsitems/" id="menu">Uutiset</a></h3> 
  <p>Vakiopaine on auki kahdesta (kesäisin kuudesta) kahteen. Tosin vappuna avataan jo kymmeneltä.</p> 
  <h3><a href="vieraskirja/" id="menu">Vieraskirja</a></h3> 
  <p>Tarkkana, tämä koskee juuri sinua: kirjoita vieraskirjaan.</p> 
  <h3><a href="/theater_shows/" id="menu">Teatteri</a></h3> 
  <p>Alakerran tila on ensisijaisesti teatterikäytössä, mutta sitä saa varata myös muihin tarkoituksiin.</p> 
</td> 

<td id="menukeski"> 
  <b>Tule käymään:</b><br /> 
  Kauppakatu 6, Jyväskylä
  <br /> 
  <img src="/images/ukko.jpg" id="logo" /> 

  <p> 
  <b>Ota yhteyttä:</b><br /> 
  <script type="text/javascript"> 
    document.write("baari");
    document.write("&nbsp;");
    document.write("@");
    document.write("&nbsp;");
    document.write("vakiopaine.net");
  </script> 
  <br /> 
  puh. (014) 620 776
  </p> 

      </td> 

<td id="menuoikea"> 
  <h3><a href="hinnasto/" id="menu">Hinnasto</a></h3> 
  <p>Vakiopaineessa myydään lievästi (nykyisin myös tuhdimmin) päihdyttäviä aineita vastiketta vastaan.</p> 
  <h3><a href="/events/" id="menu">Tapahtumat</a></h3> 
  <p>Etenkin soittoa ja laulua. Ja tanssia. Ja performangeja.</p> 
  <h3><a href="nayttelyt/" id="menu">Näyttelyt</a></h3> 
  <p>Vastikkeetta myös galleriatilaa. Ja tulitikkuja.</p> 

</td> 
</tr> 
</table> 

