<div id="menubody">

  <div id="menu_left_content">
    <div class="menuitem" id="news_container">
      <a href="/uutiset/" class="menu">Uutiset</a>
      <p>Vakiopaine on auki kahdesta (kesäisin kuudesta) kahteen. Tosin vappuna avataan jo kymmeneltä.</p>
    </div>
    <div class="menuitem" id="theater_container">
      <a href="/teatteri/" class="menu">Teatteri</a>
      <p>Katutason alapuolella pyörii myös huoneteatteri.</p>
    </div>
    <div class="menuitem">
      <p>
        <strong>Tule käymään</strong><br />
        <span>Kauppakatu 6, Jyväskylä</span>
      </p>
    </div>

  </div>

  <div id="menu_center_content">
   <img src="/images/ukko_trans.png" id="logo_default" />
   <img src="/images/ukko_news_trans.png" id="logo_news" class="alternative_logo" />
   <img src="/images/ukko_theater_trans.png" id="logo_theater" class="alternative_logo" />
   <img src="/images/ukko_event_trans.png" id="logo_event" class="alternative_logo" />
   <img src="/images/ukko_gallery_trans.png" id="logo_gallery" class="alternative_logo" />
  </div>


  <div id="menu_right_content">
    <div class="menuitem" id="event_container">
      <a href="/tapahtumat/" class="menu">Tapahtumat</a>
      <p>Etenkin soittoa ja laulua. Ja tanssia. Ja performangeja.</p>
    </div>
    <div class="menuitem" id="gallery_container">
      <a href="/nayttelyt/" class="menu">Näyttelyt</a>
      <p>Vakiopaineesta saapi vastikkeetta galleriatilaa. Ja tulitikkuja!</p>
    </div>
    <div class="menuitem" id="links_container">
      <a href="/linkit/" class="menu">Linkkejä muuanne</a>
    </div>
    <div class="menuitem">
      <p>
        <strong>Ota yhteyttä</strong><br />
        <span>baari &auml;t vakiopaine.net</span><br />
        <span>puh. (014) 620 776</span>
      </p>
    </div>
  </div>
</div>

<script type='text/javascript'>

var current;

function switch_logo(new_logo) {
  if (current) current.hide();
  $(new_logo).show();
  current = $(new_logo);
}

$(document).ready(function(){
    $('#event_container').bind('mouseenter', function(i) { switch_logo('#logo_event'); } );
    $('#news_container').bind('mouseenter', function(i) { switch_logo('#logo_news'); } );
    $('#theater_container').bind('mouseenter', function(i) { switch_logo('#logo_theater'); } );
    $('#gallery_container').bind('mouseenter', function(i) { switch_logo('#logo_gallery'); } );
});

</script>
