<div id="menubody">

  <div id="menu_left_content">
    <div class="menuitem">
      <a href="/uutiset/" class="menu">Uutiset</a>
      <p>Vakiopaine on auki kahdesta (kesäisin kuudesta) kahteen. Tosin vappuna avataan jo kymmeneltä.</p>
    </div>
    <div class="menuitem">
      <a href="/teatteri/" class="menu">Teatteri</a>
      <p>Katutason alapuolella pyörii myös huoneteatteri.</p>
    </div>
    <div class="menuitem">
      <p>
        <strong>Tule käymään</strong><br />
        <span>Kauppakatu 6, Jyväskylä</span>
      </p>
    </div>

  </div>

  <div id="menu_center_content">
   <img src="/images/ukko.jpg" id="logo" />
  </div>


  <div id="menu_right_content">
    <div class="menuitem">
      <a href="/tapahtumat/" class="menu">Tapahtumat</a>
      <p>Etenkin soittoa ja laulua. Ja tanssia. Ja performangeja.</p>
    </div>
    <div class="menuitem">
      <a href="/nayttelyt/" class="menu">Näyttelyt</a>
      <p>Vakiopaineesta saapi vastikkeeta galleriatilaa. Ja tulitikkuja!</p>
    </div>
    <div class="menuitem">
      <p>
        <strong>Ota yhteyttä</strong><br />
        <span>baari &auml;t vakiopaine.net</span><br />
        <span>puh. (014) 620 776</span>
      </p>
    </div>
  </div>
</div>
